::-webkit-scrollbar{
    width: 10px;
    background: #999898;
   
}
::-webkit-scrollbar-thumb {
    background: #005de7;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #003bb5;
}

::-webkit-scrollbar-track {
    background: #5e0000;
    border-radius: 10px;
}


::-webkit-scrollbar-button {
    display: block;
    height: 5px;
    width: 10px; /* Hide the scrollbar buttons */
}




